body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
margin:0;
}

#intro{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
font-size:30px;
}

#loginPage{
margin-top:100px;
}

input{
padding:10px;
margin:5px;
border:none;
border-radius:6px;
}

button{
padding:10px 20px;
margin:5px;
border:none;
background:#6366f1;
color:white;
border-radius:6px;
cursor:pointer;
}

#time{
font-size:40px;
margin:20px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#1e293b;
margin:5px;
padding:10px;
border-radius:6px;
}

@media(max-width:700px){

#time{
font-size:30px;
}

}
